.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    max-height: 90vh;
    overflow-y: auto;
}

.form-content {
    display: flex;
    gap: 0.5rem;
}

.popup-content form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.popup-content input,
.popup-content textarea,
.popup-content select {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* .popup-content button {
    padding: 0.5rem 1.5rem;
    background-color: #af1b1b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.popup-content button:hover {
    background-color: #8b1515;
}  */